<form nz-form [formGroup]="formSearch">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <div class="d-flex">
      <button style="border-radius: 5px" class="d-flex align-items-center ml-3" nz-button nzType="primary"
              (click)="handleSearch()">
        <i nz-icon nzType="search" nzTheme="outline"></i> Tìm kiếm
      </button>
      <button style="border-radius: 5px" class="d-flex align-items-center ml-3" nz-button nzType="primary"
              (click)="export()">
        <i nz-icon nzType="download" nzTheme="outline"></i> Xuất excel
      </button>
    </div>

    <div class="d-flex justify-content-end">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input class="px-1" formControlName="name" (change)="handleSearch()" type="text" nz-input
               placeholder="Tìm theo tên người dùng"/>
        <!--      <input class="px-1" [(ngModel)]="searchValue" type="text" nz-input placeholder="input search text"/>-->
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i class="mb-2" nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>
</form>


<nz-table
  #basicTable
  [nzData]="data"
  [nzFrontPagination]="true"
  nzBordered
  nzShowSizeChanger
  [nzScroll]="{ x: '1200px'}"
>
  <!--  [nzPageSizeOptions]="pageSizeOptions"-->
  <!--  [(nzPageIndex)]="searchModel.pageIndex"-->
  <!--  (nzPageSizeChange)="onPageSizeChange($event)"-->
  <!--  [nzTotal]="total"-->
  <thead>
  <tr>
    <th>STT</th>
    <th>Id</th>
    <th>Tên</th>
    <th>Email</th>
    <th>Số điện thoại</th>
    <th>Địa chỉ</th>
    <th>Ngày tạo hóa đơn</th>
    <th>Trạng thái</th>
    <th>Chi tiết hóa đơn</th>
    <th>Tổng giá tiền</th>
    <th>Hành động</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data, let i = index">
    <td class="text-nowrap">{{validateService.getRowIndex(i, basicTable.nzPageIndex, basicTable.nzPageSize)}}</td>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.phone }}</td>
    <!--    <td style=" white-space: nowrap; text-overflow: ellipsis; overflow: hidden">-->
    <td> {{item.address}}</td>
    <td>{{ item.createDate | date: 'dd/MM/yyyy' }}</td>
    <td>{{ item.status == 0 ? 'Chờ hoàn hàng' : item.status == 1 ? 'Đã nhận hàng' : 'Đã hoàn hàng'}}</td>
    <td><a style="text-decoration: #e6e6e6" (click)="viewDetailBill(item)">Xem chi tiết</a></td>
    <td>{{item.total}}</td>
    <td style="min-width: 120px; text-align: center">
      <!--            <a *ngIf="item.status == 0" style="font-size: 21px; color: #1890ff" nz-popconfirm-->
      <a *ngIf="item.status == 0" style="font-size: 21px; color: #1890ff" nz-popconfirm class="mr-3"
         nzPopconfirmTitle="Bạn đồng ý cho người dùng hoàn hàng?" (nzOnConfirm)="handleOk(item)">
        <i style="color: limegreen" nz-icon nzType="check" nzTheme="outline"></i></a>

      <!--            <a *ngIf="item.status == 0" style="font-size: 21px" class="mr-3" nz-popconfirm-->
      <a *ngIf="item.status == 0" style="font-size: 21px" class="mr-3" nz-popconfirm class="mr-3"
         nzPopconfirmTitle="Bạn không đồng ý cho người dùng hoàn hàng?"
         (nzOnConfirm)="handleOkRefuse(item)">
        <i style="color: red" nz-icon nzType="close" nzTheme="outline"></i>
      </a>

      <a style="font-size: 21px; color: #1890ff" nz-popconfirm
         nzPopconfirmTitle="Bạn muốn xóa hóa đơn này?" (nzOnConfirm)="handleDelete(item)">
        <i nz-icon nzType="delete" nzTheme="outline"></i></a>
    </td>
  </tr>
  </tbody>
</nz-table>
<div class="d-flex justify-content-end">
  <nz-pagination class="pb-4" (click)="changePage()" [(nzPageIndex)]="curPage" [nzTotal]="total"></nz-pagination>
</div>


<div style="display:flex; justify-content: center">
  <ngx-charts-bar-vertical [results]="dataChart" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType"
                           [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend"
                           [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                           [xAxisLabel]="xAxisLabel" [yAxisLabel]="xAxisLabel" [legendTitle]="legendTitle"
                           [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines"
                           [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks"
                           [rotateXAxisTicks]="rotateXAxisTicks" [maxXAxisTickLength]="maxXAxisTickLength"
                           [maxYAxisTickLength]="maxYAxisTickLength" [xAxisTickFormatting]="formatString"
                           [yAxisTickFormatting]="formatNumber" [yAxisTicks]="yAxisTicks"
                           [showDataLabel]="showDataLabel"
                           [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled" [roundEdges]="roundEdges">
  </ngx-charts-bar-vertical>
</div>


<nz-modal [(nzVisible)]="isRefuse" [nzTitle]="'Chi tiết hóa đơn'" [nzFooter]="null" (nzOnCancel)="handleCancelViewDetailBill()">
  <div style="border: 1px solid #ccc; border-radius: 5px">
    <div class="d-flex pb-1 mb-1 box-detail" style="border-bottom: 1px solid #ccc" *ngFor="let item of dataDetail">
      <div class="col-3 p-0">
        <div><img style="width: 100%;" [src]="item.product.image"/></div>
      </div>
      <div class="col-7">
        <div class="d-flex justify-content-between"><span>Tên sản phẩm: </span> {{item.product.name}}</div>
        <div class="d-flex justify-content-between"><span>Số lượng: </span> {{item.quantity}}</div>
        <div class="d-flex justify-content-between">
          <span>Giá tiền: </span> {{item.product.price - item.product.price * (item.product.discount / 100)}}</div>
        <div class="d-flex justify-content-between"><span>Mã giảm giá áp dụng: </span> {{item.vouchers}}</div>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
        <span style="font-size: 20px; font-weight: 600">{{(item.product.price - item.product.price * (item.product.discount / 100)) * item.quantity}}</span>
      </div>
    </div>
  </div>
</nz-modal>


