* {
  font-family: "OpenSans", sans-serif;
}

.layout {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  .info-group {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    .field {
      font-weight: 700;
      font-size: 20px;
    }
    .value{
      padding: 5px;
      border: 1px solid rgba(84,84,84,1);
      border-radius: 5px;
    }
    &:last-of-type {
      
      img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
      }
    }
  }
}
