<div class="container">
  <div class="voucher">
    <div class="voucher-title">Voucher của bạn</div>
    <div class="voucher-list">
        <div class="voucher-item" *ngFor="let item of vouchers">
            <p class="name">Voucher 100k</p>
            <p class="description">Giảm 100k cho đơn từ 2,000,000,000</p>
            <div class="detail">
              <span class="code">SODKEE-5</span>
              <!-- <button class="btn-save">Lưu</button> -->
            </div>
          </div>
    </div>
  </div>
  <div class="voucher">
    <div class="voucher-title">Đừng bỏ lỡ</div>
    <div class="voucher-list">
        <div class="voucher-item" *ngFor="let item of suggestedVoucher">
            <p class="name">Voucher 10k</p>
            <p class="description">Giảm 10k cho đơn từ 2,000</p>
            <div class="detail">
              <span class="code">CIEKS-5</span>
              <button class="btn-save">Lưu</button>
            </div>
          </div>
    </div>
  </div>
  <!-- <nz-pagination
    style="text-align: end"
    class="pb-4"
    [(nzPageIndex)]="p"
    [nzTotal]="total"
    [nzPageSize]="4"
    (click)="handleSearch()"
  ></nz-pagination> -->
</div>
