.can-click{
    text-decoration: underline;
    cursor: pointer;
    
}
.p-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        margin-left: auto;
    }
}
