<div [ngClass]="{'row':tabActive!='voucher','container':tabActive!='voucher'}" >
  <div class="col-2 mt-4" *ngIf="tabActive != 'voucher'">
    <div class="nav">
      <div class="nav-item" [class.active]="tabActive =='info'">
        <a [routerLink]="['/home/user/info']" (click)="changeTab('info')">Thông tin tài khoản</a>
      </div>
      <div class="nav-item" [class.active]="tabActive =='draftPost'">
        <a [routerLink]="['/home/user/draftPosts']" (click)="changeTab('draftPost')">Bài viết nháp</a>
      </div>
      <div class="nav-item" [class.active]="tabActive =='refusePosts'">
        <a [routerLink]="['/home/user/refusePosts']" (click)="changeTab('refusePosts')">Bài viết bị từ chối</a>
      </div>
      <div class="nav-item" [class.active]="tabActive =='myPosts'">
        <a [routerLink]="['/home/user/myPosts']" (click)="changeTab('myPosts')">Bài viết đã đăng</a>
      </div>
      <div class="nav-item" [class.active]="tabActive =='waitingPosts'">
        <a [routerLink]="['/home/user/waittingPosts']" (click)="changeTab('waitingPosts')">Bài viết chờ duyệt</a>
      </div>
      <div class="nav-item" [class.active]="tabActive =='savePosts'">
        <a [routerLink]="['/home/user/savePosts']" (click)="changeTab('savePosts')">Bài viết đã lưu</a>
      </div>

    </div>
  </div>
  <div [class.col-8]="tabActive != 'voucher'">
    <router-outlet></router-outlet>
  </div>
  <div class="col-2 my-4" *ngIf="tabActive != 'voucher'">
    <div class="info">
      <div class="title">
        Mức độ yêu thích
      </div>
      <div class="info-item">
        <span>Tổng số bài viết đã đăng</span><br/>
        <span>{{totalPosts ? totalPosts : 0}}</span>
      </div>
      <div class="info-item">
        <span>Tổng số like</span><br/>
        <span>{{totalLike ? totalLike : 0}}</span>
      </div>
      <div class="info-item">
        <span>Tổng số comment</span><br/>
        <span>{{totalComment ? totalComment : 0}}</span>
      </div>
      <!--      <div class="py-2" style="border-bottom: 1px solid #c3c3c3">-->
      <!--        <span>Danh hiệu</span><br/>-->
      <!--        <span>test</span>-->
      <!--      </div>-->
      <!--      <div class="py-2" style="border-bottom: 1px solid #c3c3c3">-->
      <!--        <span>Thành tích</span><br/>-->
      <!--        <span>test</span>-->
      <!--      </div>-->
    </div>
  </div>
</div>