<form nz-form [formGroup]="formSearch">

  <div class="d-flex align-items-center justify-content-between mb-4">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column mb-3">
        <label>Xắp xếp theo</label>
        <nz-select
          style="width: 100%"
          formControlName="typeSort"
          (ngModelChange)="handleSearch()"
        >
          <nz-option nzValue="-1" nzLabel="Tất cả"></nz-option>
          <nz-option nzValue="0" nzLabel="Thời gian tạo"></nz-option>
          <nz-option nzValue="1" nzLabel="Giảm giá"></nz-option>
        </nz-select>
      </div>
      <!-- <div class="d-flex justify-content-end align-items-center">
        <div class="d-flex">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input class="px-1" formControlName="name" (change)="handleSearch()" type="text" nz-input
                   placeholder="Tìm theo tên người dùng"/>
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i class="mb-2" nz-icon nzType="search"></i>
          </ng-template>
        </div>
        <button style="border-radius: 5px" class="d-flex align-items-center ml-3" nz-button nzType="primary"
                (click)="handleSearch()">
          <i nz-icon nzType="search" nzTheme="outline"></i> Tìm kiếm
        </button>
      </div> -->
    </div>


    <div class="d-flex">
      <button style="border-radius: 5px" class="d-flex align-items-center ml-3" nz-button nzType="primary"
              (click)="handleAdd()">
        <i nz-icon nzType="plus" nzTheme="outline"></i> Thêm mới
      </button>
     </div>
  </div>
  <nz-table #basicTable
            [nzData]="data"
            [nzFrontPagination]="false"
            [(nzPageIndex)]="searchModel.pageIndex"
            nzBordered
            nzShowSizeChanger
  >
    <thead>
    <tr>
      <th>id</th>
      <!--        <th>Password</th>-->
      <th>Mã giảm giá</th>
      <th>Mô tả</th>
      <!--    <th [nzShowFilter]="true" [nzFilters]="newArray">Address-->
      <!--      <th [nzShowFilter]="true" [nzFilters]="filterAddress">Địa chỉ-->

      <!--      </th>-->

      <!-- <th [nzShowSort]="true" [nzSortDirections]="['ascend', 'descend']" (click)="handleSort('role')">
        Cấp phân quyền
      </th> -->
      <th>
        % giảm giá
      </th>
      <th>
        <!-- <i class="fas fa-user"></i> Sử dụng icon User -->
        Loại voucher
      </th>
      <th>
        Tối đa giảm giá
      </th>
      <th>Thời gian tạo</th>
      <th>Thời gian hết hạn</th>
      <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data; let i = index">
      <td class="text-nowrap">{{validateService.getRowIndex(i, basicTable.nzPageIndex, basicTable.nzPageSize)}}</td>
      <td>{{item.id}}</td>
      <td>{{item.description}}</td>
      <td>{{item.percentDiscount}}</td>
      <td>{{item.voucherType == 1 ? "Discount all bill":"Free ship"}}</td>
      <td>{{item.maxDiscount | currency:'VND':'symbol':'1.0-0'}}</td>
      <td>{{item.createdAt | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
      <td>{{item.expiredAt | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
      <td style="min-width: 100px">
        <a style="font-size: 21px" class="mr-3" (click)="handleEdit(item)">
          <i nz-icon nzType="edit" nzTheme="outline"></i></a>
        <a style="font-size: 21px" nz-popconfirm nzPopconfirmTitle="Bạn chắc chắn muốn xóa bài đăng này?" (nzOnConfirm)="handleDelete(item)">
          <i nz-icon nzType="delete" nzTheme="outline"></i></a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div class="d-flex justify-content-end">
    <nz-pagination class="pb-4" (click)="changePage()" [(nzPageIndex)]="curPage" [nzTotal]="total"></nz-pagination>
  </div>
</form>

<app-add-voucher [isAdd]="isAdd" (closePopup)="handleClosePopup($event)"></app-add-voucher>
<app-edit-voucher [isEdit]="isEdit" [dataEdit]="dataEdit" (closePopup)="handleClosePopup($event)"></app-edit-voucher>
