<!--<div style="max-width: 10px; margin: auto ;background-color: #e6e6e6; font-size:px;" class="d-flex justify-content-around">-->
<!--  -->
<!--  <div>STT</div>-->
<!--  <div>Thông tin người nhận</div>-->
<!--  <div>Thông tin đơn hàng</div>-->
<!--  <div>Ngày đặt hàng</div>-->
<!--  <div>Trạng thái</div>-->
<!--  <div>Hành động</div>-->
<!--</div>-->

<div style="max-width: 1200px; margin: auto;">
  <div style="font-size: 22px; font-weight: 700" class="mb-3">Đơn hàng của tôi</div>
  <div style="border: 1px solid #ccc; border-radius: 5px">
    <div style="width: 100%; background-color: #e6e6e6; height: 50px; font-size: 18px; font-weight: 600" class="d-flex align-items-center">
      <div class="col-2 p-0 mr-2"></div>
      <div class="col-3" style="border-left: 1px solid #fff; border-right: 1px solid #fff">Thông tin người nhận</div>
      <div class="col-2 p-0 ml-2">Chi tiết hóa đơn</div>
      <div class="col-2" style="border-left: 1px solid #fff; border-right: 1px solid #fff;">trạng thái</div>
      <div class="col-3">Hành động</div>
    </div>
    <div class="d-flex">
      <div class="col-2 p-0 mr-2"><img src="assets/coffee-logo-png-7521.png" style="width: 130px; height: 130px" /></div>
      <div class="col-3 d-flex align-items-center">Thông tin người nhận</div>
      <div class="col-2 d-flex align-items-center">Xem chi tiết</div>
      <div class="col-2 d-flex align-items-center">trạng thái</div>
      <div class="col-3 d-flex align-items-center justify-content-around">
        <div><i class="p-3 handleButton" style="cursor: pointer; font-size: 30px" nz-icon nzType="check-circle" nzTheme="outline"></i></div>
        <div><i class="p-3 handleButton" style="cursor: pointer; font-size: 30px" nz-icon nzType="field-time" nzTheme="outline"></i></div>
        <div><i class="p-3 handleButton" style="cursor: pointer; font-size: 30px" nz-icon nzType="undo" nzTheme="outline"></i></div>
      </div>
    </div>
  </div>
</div>


